<html>
    <head>
        <title>HotelPet</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>


    </head>
    <body>
        <header>
            <nav class="top-nav blue">
                <div class="nav-wrapper">
                    <div class="row">
                        <div class="col s12">
                            <!-- Dropdowns Structure -->
                            <ul id="ddCadastros" class="dropdown-content">
                                <li><a href="/andar/andar" class="blue-text">Andar</a></li>
                                <li><a href="/tutor/tutor" class="blue-text">Tutor</a></li>
                                <li><a href="/pets/pets" class="blue-text">Pets</a></li>
                            </ul>
                            <ul id="ddServicos" class="dropdown-content">
                                <li><a href="/checkin/checkin" class="blue-text">Check-in</a></li>
                                <li><a href="#!" class="blue-text">Check-out</a></li>
                            </ul>
                                                        
                            <ul class="left hide-on-med-and-down">
                                <li><a class="" href="/">Hotel Pet<i class="material-icons left">pets</i></a></li>
                                <li><a class="dropdown-trigger" href="#" data-target="ddCadastros">Cadastros<i class="material-icons right">arrow_drop_down</i></a></li>
                                <li><a class="dropdown-trigger" href="#" data-target="ddServicos">Hospedagem<i class="material-icons right">arrow_drop_down</i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>              
            </nav>
        </header>

        <main>
            <div class="row">
                <div class="col s10">
                    <div style="margin-top: 30px" id="listaDeCheckins">
                        <div class="" style=" margin-left: 50px; margin-right: 50px">
                            <table class="striped responsive-table">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">Nome do Pet</th>
                                        <th style="text-align: center;">Tutor</th>
                                        <th style="text-align: center;">Andar</th>
                                        <th style="text-align: center;">Estadia</th>
                                        <th style="text-align: center;">Valor</th>
                                        <th style="text-align: center;">Ações</th>
                                    </tr>
                                </thead>
                                <tr th:each="checkin : ${checkins}">
                                    <td style="text-align: center;"><span th:text="${checkin.nomePet}"></span></td>
                                    <td style="text-align: center;"><span th:text="${checkin.tutorPet}"></span></td>
                                    <td style="text-align: center;"><span th:text="${checkin.numAndar}"></span></td>
                                    <td style="text-align: center;"><span th:text="${checkin.tempoHospedagem}"></span></td>
                                    <td style="text-align: center;"><span th:text="${checkin.valorHospedagem}"></span></td>
                                    <td style="text-align: center;">
                                        <a class="btn-small waves-effect waves-light orange" title="Check-Out">
                                            <i class="tiny material-icons">exit_to_app</i>
                                        </a>
                                        <a class="btn-small waves-effect waves-light" title="Editar">
                                            <i class="tiny material-icons">edit</i>
                                        </a>
                                        <a class="btn-small red waves-effect waves-light" title="Excluir">
                                            <i class="tiny material-icons">close</i>
                                        </a>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="col s2">
                    <div class="pin-top " style="margin-top: 70px">
                        <div class="section">
                            <a href="/checkin/cadCheckin" class="waves-effect waves-light btn-large blue">
                                <i class="material-icons left">add</i>Novo Checkin</a>                                
                        </div>
                    </div>


                </div>


            </div>
        </main>

        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="../js/materialize.min.js"></script> 
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var drop = document.querySelectorAll('.dropdown-trigger');
                M.Dropdown.init(drop, {
                    coverTrigger: false,
                    hover: true
                });
            });
        </script>


    </body>
</html>
